@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
}
.main-menu {
    background-color: #562EFF;
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-wrap {
    width: 1000px;
    display: flex;
    justify-content: space-between
}

.menu-left {
    width: 150px;
    display: flex;
    align-items: center;
}

.menu-left img {
    width: 40px;
    margin-right: 20px;

}

.menu-left span {
    color: #fff;
}

.menu-right {
    width: 400px;
}

.menu-right ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-right ul li {

    margin-left: 20px;
}

.menu-right ul li a {
    text-decoration: none;
    color: #fff
}

.menu-right ul li img {
    width: 51px;

}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1000px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px 20px;
}
.top-players{

}
.section-title{
    font-size: 24px;
    color:#562EFF;
    margin-bottom: 20px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    grid-gap: 10px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    margin-right: 10px;
}
.player h4{
    font-size: 18px;

}
hr{
    margin: 20px 0;
    border-top: 2px solid #D1D1D1;
}